.equal_height {
    height: 266px;
}

.multi_row_slider_wrapper {
    background-color: #f8f8f8;
    padding: 20px;
}

.multi_row_slider_wrapper .mrs_content .name_des h3 {
    font-size: 24px;
    font-weight: 700;
}

.multi_row_slider_wrapper .mrs_content .name_des p {
    font-weight: 600;
    text-transform: capitalize;
    color: #1c1c1c;
}

.multi_row_slider_wrapper .link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #db3753;
}