.equal_height {
    height: 266px;
}

.multi_row_slider_wrapper {
    background-color: #f8f8f8;
    padding: 20px;
}

.multi_row_slider_wrapper .mrs_content .name_des h3 {
    font-size: 24px;
    font-weight: 700;
}

.multi_row_slider_wrapper .mrs_content .name_des p {
    font-weight: 600;
    text-transform: capitalize;
    color: #1c1c1c;
}

.multi_row_slider_wrapper .link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #db3753;
}

.active-dot {
    background-color: #ff0000;
    /* Change to your desired color for active dots */
    width: 30px;
    /* Adjust the width as needed */
    color: #531616;
    /* Change the text color of active dots if needed */
}


.multiRows_slider .slick-prev {
    bottom: -25px;
    left: 40%;
}

.multiRows_slider .slick-next {
    right: 40%;
}

.multiRows_slider .slick-prev::before {
    font-size: 1rem !important;
}


.multiRows_slider .slick-next::before {
    font-size: 1rem !important;
}

.multiRows_slider .slick-prev,
.multiRows_slider .slick-next {
    bottom: -25px !important;
    top: unset !important;
}