body {
    background-color: #fcfcfc;
}

.slick-prev,
.slick-next {
    z-index: 9999;
}

.custom_slidr {
    padding-top: 50px;
    padding-bottom: 200px;
}

.custom_slidr .slick-prev:before,
.custom_slidr .slick-next:before,
.multi_slider .slick-prev:before,
.multi_slider .slick-next:before {
    color: #db3753 !important;
    opacity: 100 !important;
    font-size: 3rem !important;
}

.centered_slider {
    padding-bottom: 200px;
}

.centered_slider img {
    height: 300px;
    width: 290px;
    margin: 10px;
}

.multiRows_slider img {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.multi_slider {
    padding-bottom: 200px;
}

.multi_slider img {
    height: 550px;
    width: 90%;
}

.multi_slider .slick-prev,
.multi_slider .slick-next {
    bottom: 0 !important;
    top: unset !important;
}

.multi_slider .slick-prev {
    left: 0 !important;
}

.multi_slider .slick-next {
    right: 0 !important;
}

.top {
    margin-top: 100px;
    text-align: center;
}

.bottom {
    margin-bottom: 100px;
    text-align: center;
}

.multiRows_slider {
    padding-bottom: 200px;
}

.swiper-wrapper {
    text-align: center;
}

.centered_slider iframe {
    /* margin: 20px; */
    height: 370px;
    /*
} */
}

.centered_slider .swiper-slide {
    width: 562px !important;
}

.centered_slider .slick-center iframe {
    transform: scale(1.3);
}

.centered_slider .slick-prev:before {
    content: "‹";
    color: #007aff;
    font-size: 80px;
    left: 30px;
    line-height: 0;
}

.centered_slider .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 21px;
    z-index: 10;
    cursor: pointer;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.centered_slider .swiper-button-prev::after {
    content: "prev";
    font-family: swiper-icons;
    font-size: 44px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: normal;
    line-height: 1;
}

.centered_slider .swiper-button-next {
    position: absolute;
    top: 50%;
    right: 21px;
    z-index: 999;
    cursor: pointer;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.centered_slider .swiper-button-next::after {
    content: "next";
    font-family: swiper-icons;
    font-size: 44px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: normal;
    line-height: 1;
}

.multi_slider .custom-next-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #db3753;
    color: white;
}

.multi_slider .custom-prev-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #db3753;
    color: white;
    z-index: 999;
}

.multiRows_slider .slick-prev {
    position: absolute;
    left: 45%;
}

.multiRows_slider .slick-next {
    position: absolute;
    right: 46%;
}

.multiRows_slider .slick-dots {
    left: -12px;
}

.multiRows_slider .slick-prev:before,
.multiRows_slider .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(116, 116, 116);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    bottom: -1845%;
}