body {
    background-color: #fcfcfc;
}

.slick-prev,
.slick-next {
    z-index: 9999;
}

.custom_slidr {
    padding-top: 50px;
    padding-bottom: 200px;
}

.custom_slidr .slick-prev:before,
.custom_slidr .slick-next:before {
    color: #db3753 !important;
    opacity: 100 !important;
    font-size: 3rem !important;
}

.centered_slider {
    padding-bottom: 200px;
}

.centered_slider img {
    height: 300px;
    width: 290px;
    margin: 10px;
}

.multiRows_slider img {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.multi_slider {
    padding-bottom: 200px;
}

.multi_slider img {
    height: 550px;
    width: 90%;
}

.multi_slider .slick-prev,
.multi_slider .slick-next {
    bottom: 0 !important;
    top: unset !important;
}

.multi_slider .slick-prev {
    left: 0 !important;
}

.multi_slider .slick-next {
    right: 0 !important;
}

.top {
    margin-top: 100px;
    text-align: center;
}

.bottom {
    margin-bottom: 100px;
    text-align: center;
}

.centered_slider iframe {
    margin: 20px;
}

.centered_slider .slick-center iframe {
    transform: scale(1.3);
}

.centered_slider .slick-prev:before {
    content: "‹";
    color: #007aff;
    font-size: 80px;
    left: 30px;
    line-height: 0;

}

.centered_slider .slick-next:before {
    content: "›";
    color: #007aff;
    font-size: 80px;
    right: 30px;
    line-height: 0;
}

.multiRows_slider {
    padding-bottom: 200px;
}